<!-- Modal -->

        {{#each Movie}}
        <section class="foundMovie" key="{{@key}}">
          <div class="row">
            <div class="col-sm-12">
              {{#if poster}}
              <img src="{{poster}}" alt="{{title}} Poster"> {{else}}
              <h4>{{title}}</h4> 
              {{/if}}
            </div>
          </div>
          <button class="btn btn-danger watchToggle">Add to Wishlist</button>
        </section>
        {{/each}}
    