{{#each movies}}
  <div class="col-sm-3" key="{{title}}" watched="{{seen-it}}" rating="{{rating}}" title="{{title}}" id="{{imdb}}">
    <div>
      <img src='{{image-url}}' alt='' onError='$(this).replaceWith("<div><h2>{{title}}</h2></div>");'>
    </div>  
    <br>
      <button type="button" id="watchedButton" watched="{{seen-it}}">Watched</button>
      <button type="button" id="deleteButton">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
  </div>
{{/each}}
 